<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Лист задач</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/my.css">
</head>
<body>
<table id="tasks">
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${taskList}">
        <td th:text="${task.id}"/>
        <td th:text="${task.description}"/>
        <td th:text="${task.status}"/>
    </tr>
    </tbody>
</table>

<table id="add_task">
    <tr>
        <th colspan="3">Add new task:</th>
    </tr>
    <tr>
        <td>-</td>
        <td><input id="description_input" type="text"></td>
        <td>
            <select id="task_status">
                <option value="IN_PROGRESS">IN_PROGRESS</option>
                <option value="DONE">DONE</option>
                <option value="PAUSED">PAUSED</option>
            </select>
        </td>
        <td><input type="button" value="save" onclick="createAccount()"></td>
    </tr>
</table>
<div id="paging_buttons">
    <label>Pages:</label>
    <button class="link-button" type="button" th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/(pageNumber=${pageNumber})}" th:text="${pageNumber}"></a>
    </button>

<!--    <form th:each="pageNumber : ${pageNumbers}" th:action="@{/(pageNumber=${pageNumber})}" method="get">-->
<!--        <button type="submit" th:text="${pageNumber}"></button>-->
<!--    </form>-->
<!--    <form th:each="pageNumber : ${pageNumbers}" method="get">-->
<!--&lt;!&ndash;        <input type="hidden" value="" th:text="${pageNumber}" name="pageNumber">&ndash;&gt;-->
<!--        <a th:href="@{/(pageNumber=${pageNumber})}">ссылка</a>-->
<!--    </form>-->
</div>

</body>
</html>
